# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/

# Node.js dependencies (if any)
node_modules/

# Sencha Cmd build and cache directories
build/
.sencha/
workspace/
temp/

# Logs and temp files
*.log
*.tmp
*.bak
*.swp
*.swo

# Cache logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Merge conflict backups
*.orig

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/